<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>

  <body>
    <%= render "layouts/header" %>
    <div class="contailner">

    </div>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
